
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}


.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.header {
  background-color: #1d428a;
}
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-img {
  width: 50px;
  height: auto;
}

.title span {
  display: flex;
  font-size: 40px;
}
.title strong {
  display: flex;
  font-size: 50px;
}

.nav {
  font-size: 30px;
  display: flex;
  justify-content: center
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 95px;
  margin: 5px;
}


.nav a:hover{
  background-color: rgba(0, 213, 255, 0.156);
}



.content {
  
  flex: 1;
  border: 2px solid black;
  margin: 20px;
  padding: 40px;
  text-align: center;
  background-image: url("https://wallpapercave.com/wp/wp14662462.jpg");
  background-position: center;
  
}

.content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.content p {
  font-size: 30px;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
}


.footer {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid black;
  padding: 15px 30px;
  font-weight: bold;
}
